/* ==========================================================================
 Colour Scheme
 ========================================================================== */

* {
	color: #45414d; /* Navy Black */
}

body,
html {
	background-color: whitesmoke;
}

.container {
	background-color: #FAFAFA;
}

::-moz-selection {
	background: #ff7f2a;
	text-shadow: none;
}

::selection {
	background: #ff7f2a;
	text-shadow: none;
}

a:hover {
	text-decoration: underline;
}

/* ==========================================================================
 Navigation Bar
 ========================================================================== */

nav {
	width: 100%;
	height: auto;
	background-color: white;
}

nav li {
	padding: 16px 32px 16px 32px;
	margin: 0;
	width: auto;
	height: 100%;
	float: left;
	list-style: none;
}

nav li.chosen {
	color: white;
	background-color: #ff7f2a; /* Light Orange */
}

nav li.chosen:hover,
nav li.chosen:focus {
	background-color: #aa492a; /* Dark Orange */
}

nav .icon {
	max-width: 16px;
	width: 100%;
	height: auto;
}

.jumbotron .icon {
	display: block;
	margin: auto;
	max-width: 64%;
	max-height: 100;
	width: 100%;
	padding: 16px;
}

/* ==========================================================================
 Text
 ========================================================================== */

.jumbotron {
	padding: 32px;
	max-width: 100%;
	background-color: #f2ede9; /* Cream */
	color: white;
}

/* ==========================================================================
 Grid
 ========================================================================== */

.row {
	padding: 2.0em;
}

/* ==========================================================================
 Buttons
 ========================================================================== */

.button-download {
	color: white;
	background-color: #ff7f2a; /*Light Orange*/
	border-radius: 0px;
	border: none;
}

.button-download:hover {
	background-color: #aa492a; /* Dark Orange */
}

/* ==========================================================================
 Utility Classes
 ========================================================================== */

.u-center-horizontal {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.u-center-vertical {
	height: 16em;
	display: table-cell;
	vertical-align: middle;
}

/* ==========================================================================
 Media Queries
 ========================================================================== */

/* Mobile Phones */
@media (max-width: 400px) {
	.container {
		width: 100%;
	}

	.u-center-vertical {
		height: 100%;
	}

	.u-hide-on-mobile {
		display: none;
	}
}

/* Phablet */
@media (max-width: 550px) {
	.u-hide-on-phablet {
		display: none;
	}
}
